## Importamos las librerias

In [1]:
import pandas as pd

## Cargamos los datos

In [2]:
plataformas = pd.read_csv(filepath_or_buffer="Data_util/Plataformas.csv")
resenas = pd.read_csv(filepath_or_buffer="Data_util/Ratings.csv")

## Unimos los datos en un solo DataFrame

In [3]:
df = plataformas.merge(resenas,left_on='id', right_on='movieId', how="outer")

### Visualizamos

In [4]:
df.head()

,type,title,director,cast,country,date_added,release_year,rating,listed_in,id,plataforma,duration_int,duration_type,userId,score,timestamp,movieId
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",as1,a,113,min,543,5.0,2003-07-30,as1
1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",as1,a,113,min,595,3.0,1996-08-13,as1
2,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",as1,a,113,min,611,3.0,2001-01-03,as1
3,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",as1,a,113,min,2523,3.5,2012-06-25,as1
4,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",as1,a,113,min,3082,4.0,2000-03-30,as1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9524176 entries, 0 to 9524175
Data columns (total 17 columns):
 #   Column         Dtype
---  ------         -----
 0   type           object
 1   title          object
 2   director       object
 3   cast           object
 4   country        object
 5   date_added     object
 6   release_year   int64
 7   rating         object
 8   listed_in      object
 9   id             object
 10  plataforma     object
 11  duration_int   int64
 12  duration_type  object
 13  userId         int64
 14  score          float64
 15  timestamp      object
 16  movieId        object
dtypes: float64(1), int64(3), object(13)
memory usage: 1.3+ GB

## Elimino el campo movieId ya que se encuentra repetido en nuestro DataFrame

In [6]:
df.drop("movieId", axis=1, inplace=True)

In [7]:
df.head(1)

,type,title,director,cast,country,date_added,release_year,rating,listed_in,id,plataforma,duration_int,duration_type,userId,score,timestamp
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",as1,a,113,min,543,5.0,2003-07-30

## Creo un DataFrame con el promedio de las resenas para cada pelicula

In [9]:
score_prom = df.groupby(['id'], as_index=False).mean("score")
score_prom.drop(["release_year","duration_int", "userId"], axis=1, inplace=True)
score_prom["score"] = round(score_prom["score"],2)
score_prom.head()

       id  score
0     as1   3.46
1    as10   3.45
2   as100   3.62
3  as1000   3.55
4  as1001   3.60

In [10]:
union_plataformas = plataformas.merge(score_prom,left_on='id', right_on='id', how="left")

In [11]:
union_plataformas

,type,title,director,cast,country,date_added,release_year,rating,listed_in,id,plataforma,duration_int,duration_type,score
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",as1,a,113,min,3.46
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",as2,a,110,min,3.51
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",as3,a,74,min,3.52
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,as4,a,69,min,3.54
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",as5,a,45,min,3.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers",ns8803,n,158,min,3.45
22994,tv show,zombie dumb,sin dato,sin dato,sin dato,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies",ns8804,n,2,season,3.51
22995,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",ns8805,n,88,min,3.42
22996,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies",ns8806,n,88,min,3.58
22997,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",ns8807,n,111,min,3.51

In [12]:
union_plataformas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           22998 non-null  object
 1   title          22998 non-null  object
 2   director       22998 non-null  object
 3   cast           22998 non-null  object
 4   country        22998 non-null  object
 5   date_added     13356 non-null  object
 6   release_year   22998 non-null  int64
 7   rating         22998 non-null  object
 8   listed_in      22998 non-null  object
 9   id             22998 non-null  object
 10  plataforma     22998 non-null  object
 11  duration_int   22998 non-null  int64
 12  duration_type  22998 non-null  object
 13  score          22998 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 2.6+ MB

## Lo exporto a un archivo csv

In [13]:
union_plataformas.to_csv("Data_util/Plataformas_score.csv", index=False)

## Exporto los datos de la union a csv

In [14]:
#df.to_csv(path_or_buf="Data_util/Datos_unidos.csv", index=False)  #Ejecutar este codigo solo una vez ya que el csv pesa mucho